
# Unity Merge
*.mat linguist-generated merge=unityyamlmerge eol=lf
*.anim linguist-generated merge=unityyamlmerge eol=lf
*.unity linguist-generated merge=unityyamlmerge eol=lf
*.prefab linguist-generated merge=unityyamlmerge eol=lf
*.physicsMaterial2D linguist-generated merge=unityyamlmerge eol=lf
*.physicsMaterial linguist-generated merge=unityyamlmerge eol=lf
*.asset linguist-generated merge=unityyamlmerge eol=lf
*.meta linguist-generated merge=unityyamlmerge eol=lf
*.controller linguist-generated merge=unityyamlmerge eol=lf

# Code
*.cs diff=csharp text
*.cginc text
*.shader text

# Unity
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*SDF.asset filter=lfs diff=lfs merge=lfs -text
**/LightingData.asset filter=lfs diff=lfs merge=lfs -text

# Image files
*.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.hdri filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text

# Audio files
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.rns filter=lfs diff=lfs merge=lfs -text
*.reason filter=lfs diff=lfs merge=lfs -text

# Video files
*.mpg filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text

# 3D Models
*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text

# Binary libraries
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
**.bundle/** filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text

# Speedtree
*.spm filter=lfs diff=lfs merge=lfs -text

# Misc
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
